@model ProductListViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>CHUSHKA</title>
    <link rel="stylesheet" type="text/css" href="css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form>
<body>
<div class="container-fluid">
    <main class="mt-3 mb-5">
        @foreach (var item in @Model.Products )
        {
                    
                
         <label class="text-center" asp-for="@item.Name"></label>
         <hr class="hr-2 bg-dark"/>
         <div class="product-type-holder half-width mx-auto d-flex justify-content-between">
                        <label class="text-center" asp-for="@item.ProductType"></label>
                        <label class="text-center" asp-for="@item.Price"></label>
         </div>
         <hr class="hr-2 bg-dark"/>
         <h3 class="text-center">Description</h3>
         <div class="product-description-holder">
            <label class="text-center mt-4" asp-for="@item.Description">
                
            </label>
        </div>
         }
        <hr class="hr-2 bg-dark"/>
        <h3 class="text-center">Actions</h3>
        <div class="product-action-holder mt-4 half-width mx-auto d-flex justify-content-around">
            <a class="btn chushka-bg-color" href="/Product/AllOrdersAdmin/">Order</a>
            <a class="btn chushka-bg-color" href="/Product/EditAdmin/">Edit</a>
            <a class="btn chushka-bg-color" href="/Product/DeleteProductAdmin/">Delete</a>
        </div>
                
    </main>
    <footer>
        <div class="container-fluid chushka-bg-color">
            <div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights
                reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</form>
</html>